@import "tailwindcss";


.input-field {
  @apply ring-1 rounded-lg p-3 ring-gray-400 w-full;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes scaleIn {
  from {
    transform: scale(0.95);
  }

  to {
    transform: scale(1);
  }
}